body {
    color: bisque;
    background-color:wheat;
    background-image: url('nonamekill/image/background/ol_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
a {
    color: goldenrod;
    text-decoration: none;
}